h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 35pt;
    color: #252620;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 24pt;
    color: #252620;
}

h3 {
    font-family: 'Cabin', sans-serif;
    font-size: 24pt;
    color: whitesmoke;
}

h4 {
    font-family: 'Cabin', sans-serif;
    font-size: 12pt;
    color: #252620;
}

p {
    font-family: 'Cabin', sans-serif;
    font-size: 16pt;
    color: #252620;
}

.bgcolor1 {
    background-color: whitesmoke;
    height: 200px;
}

.bgcolor2 {
    background-color: #252620;
    height: 200px;
}

.examplecolors1 {
    background-color: #CF886A;
    height: 200px;
}

.examplecolors2 {
    background-color: #A66253;
    height: 200px;
}

.examplecolors3 {
    background-color: #DCAE6E;
    height: 200px;
}

#main {
    height: 2000px;
}